	/*
  	Perfetto font: Perfetto
  	*/

@font-face {
  font-family: "Perfetto";
  src: url("./Perfetto-Regular.eot");
  src: url("./Perfetto-Regular.eot?#iefix") format("embedded-opentype"),
       url("./Perfetto-Regular.woff") format("woff"),
       url("./Perfetto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}